//
   Created by mbisono on 3/3/16.

nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Waiter Please
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href='#') Home
                li
                    a(href='#about') About
                li
                    a(href='#contact') Contact
        // /.nav-collapse
