//
   Created by mbisono on 3/10/16.

.panel.panel-default
    .panel-heading
        h3.panel-title Agregate a la Lista
    .list-group
        .list-group-item
            p.list-group-item-text Nombre
            h4.list-group-item-heading
                waiter-name(data-waiter="vm.queue.current.client")
        .list-group-item
            p.list-group-item-text Hora de llegada
            h4.list-group-item-heading
                | {{vm.queue.current.client.arrivedAt | date:'medium'}}
        .list-group-item
            p.list-group-item-text Proximo Cliente:
            h4.list-group-item-heading
                waiter-name(data-waiter="vm.queue.members[0]")
    .panel-footer
        .btn-group.btn-group-justified
            .btn-group
                button.btn.btn-default(ng-click="vm.promoteNext()")
                    i.fa.i.fa.fa-forward
                    | Proximo
            .btn-group
                button.btn.btn-default
                    i.fa.fa-bell
                    | Notificar
                    
