//
   Created by mbisono on 3/3/16.
    
.panel.panel-default
    .panel-heading.clearfix
        h3.panel-title.pull-left Seleccione la Cola que Desea Hacer
    .list-group
        a.list-group-item(ng-repeat="queue in vm.queueList" ui-sref="register({queueId : queue.id})")
            i.fa.fa-2x.fa-road.pull-left
            h4.list-group-item-heading Cola numero \#{{$index + 1}}
            p.list-group-item-text {{queue.members.length || 0}} personas esperando
            
            
