//
   Created by mbisono on 3/7/16.
.panel(ng-class="{'panel-default' : (vm.status === 'waiting'), 'panel-success': (vm.status === 'current'), 'panel-danger': (vm.status === 'error')}")
    .panel-heading.clearfix
        h3.panel-title.pull-left Esperando Su Turno
        a.btn.btn-danger.pull-right
            i.fa.i.fa.fa-trash
    .list-group
        .list-group-item
            p.list-group-item-text Posición Actual
            h4.list-group-item-heading
                span(ng-show="vm.status === 'waiting'")
                    waiter-position(data-index="vm.position")
                span(ng-show="vm.status === 'current'") Su turno ha llegado.
                span(ng-show="vm.status === 'error'") Usted no se encuentra en la Cola.
        .list-group-item(ng-hide="vm.status === 'error'")
            p.list-group-item-text Comprobante
            h4.list-group-item-heading(ng-bind="vm.waiter.id")
        .list-group-item(ng-hide="vm.status === 'error'")
            p.list-group-item-text Nombre
            h4.list-group-item-heading
                waiter-name(data-waiter="vm.waiter")
    .panel-footer
        i Duralion IT
