//
   Created by mbisono on 3/3/16.

.panel.panel-default
    .panel-heading
        h3.panel-title Agregate a la Lista
    .panel-body
        form(novalidate="novalidate" name="vm.form")
            .form-group
                input.form-control(type="text" placeholder="Nombre" ng-model="vm.nombre" required name="name")
            .centered
                input.btn.btn-danger.btn-lg(input type="submit" ng-click="vm.submit()" value="Agregate a Esperar!" ng-disabled="vm.form.$invalid") 
    .panel-footer
        i Duralion IT
