//
   Created by mbisono on 3/3/16.
.panel.panel-default
    .panel-heading.clearfix
        h3.panel-title Lista de Espera
            a.btn.btn-primary.pull-right(ui-sref="manager({queueId : vm.queue.id})")
                i.fa.i.fa.fa-pencil
                |Admin
    .list-group
        a.list-group-item.active(ng-show="vm.queue.current.client")
            span.badge Siendo Atendido
            span
                waiter-name(data-waiter="vm.queue.current.client")
        a.list-group-item(ng-repeat="waiter in vm.queue.members")
            span.badge
                waiter-position(data-index="$index")
            span
                waiter-name(data-waiter="waiter")
    .panel-footer
        i Duralion IT
